/* ------------------------------------------------------------ *\
  Vendor
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
  SCSS Functions
\* ------------------------------------------------------------ */
/* example usage*/
/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Sprite
\* ------------------------------------------------------------ */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  display: block; }
template {
  display: none; }
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0); }
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none; }
img,
iframe,
video,
audio,
object {
  max-width: 100%; }
img,
iframe {
  border: 0 none; }
img {
  height: auto;
  display: inline-block;
  vertical-align: middle; }
b,
strong {
  font-weight: bold; }
address {
  font-style: normal; }
svg:not(:root) {
  overflow: hidden; }
a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] {
  cursor: pointer; }
a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] {
  cursor: default; }
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none; }
textarea {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch; }
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }
button,
select {
  text-transform: none; }
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }
nav ul,
nav ol {
  list-style: none outside none; }
input::-webkit-input-placeholder {
  color: inherit;
  opacity: 1; }
input::-moz-placeholder {
  color: inherit;
  opacity: 1; }
input:-ms-input-placeholder {
  color: inherit;
  opacity: 1; }
input::-ms-input-placeholder {
  color: inherit;
  opacity: 1; }
input::placeholder {
  color: inherit;
  opacity: 1; }
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 1; }
textarea::-moz-placeholder {
  color: inherit;
  opacity: 1; }
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 1; }
textarea::-ms-input-placeholder {
  color: inherit;
  opacity: 1; }
textarea::placeholder {
  color: inherit;
  opacity: 1; }
input:-webkit-autofill {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0 1000px #fff inset; }
input[type=text],
input[type=button],
input[type=tel],
input[type=email],
input[type=submit],
input[type=date],
input[type=search],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
/* ------------------------------------------------------------ *\
		Fonts
\* ------------------------------------------------------------ */
@font-face {
  font-family: 'Saveur Sans';
  src: url("../fonts/SaveurSans-Regular.eot");
  src: url("../fonts/SaveurSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SaveurSans-Regular.woff2") format("woff2"), url("../fonts/SaveurSans-Regular.woff") format("woff"), url("../fonts/SaveurSans-Regular.ttf") format("truetype"), url("../fonts/SaveurSans-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Saveur Sans';
  src: url("../fonts/SaveurSans-Semi-bold.eot");
  src: url("../fonts/SaveurSans-Semi-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SaveurSans-Semi-bold.woff2") format("woff2"), url("../fonts/SaveurSans-Semi-bold.woff") format("woff"), url("../fonts/SaveurSans-Semi-bold.ttf") format("truetype"), url("../fonts/SaveurSans-Semi-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }
/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */
body {
  min-width: 320px;
  background: #050c13;
  font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  font-display: swap; }
a,
button {
  color: inherit;
  text-decoration: underline;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background: none;
  -webkit-transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  -o-transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
  transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
  transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out; }
a:hover,
  button:hover {
    text-decoration: none; }
a[href^="tel"],
  button[href^="tel"] {
    text-decoration: none; }
svg {
  max-width: 100%;
  max-height: 100%; }
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  margin-bottom: calc(1.2em / 2); }
.h1,
h1 {
  font-size: 19px;
  font-weight: 600;
  font-family: "Saveur Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.22em;
  text-transform: uppercase; }
@media (max-width: 1023px) {
    .h1,
    h1 {
      font-size: 18px; } }
.h2,
h2 {
  font-size: 19px;
  font-weight: 600;
  font-family: "Saveur Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.22em;
  text-transform: uppercase; }
@media (max-width: 1023px) {
    .h2,
    h2 {
      font-size: 18px; } }
.h3,
h3 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .15em;
  font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #9DDDEE;
  text-shadow: 0 0 4px rgba(155, 222, 236, 0.42), 0 1px 10px rgba(51, 177, 251, 0.25); }
@media (max-width: 1023px) {
    .h3,
    h3 {
      font-size: 12px; } }
.h4,
h4 {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.04em;
  font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0 4px rgba(155, 222, 236, 0.42), 0 1px 10px rgba(51, 177, 251, 0.25); }
.h5,
h5 {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.04em;
  font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0 4px rgba(155, 222, 236, 0.42), 0 1px 10px rgba(51, 177, 251, 0.25); }
p {
  letter-spacing: 0.06em;
  line-height: 1.5;
  font-size: 14px; }
p,
ul,
ol,
dl,
hr,
table,
blockquote {
  margin-bottom: 1.2em; }
h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child {
  margin-bottom: 0; }
/* ------------------------------------------------------------ *\
  Helpers
\* ------------------------------------------------------------ */
/*  Clear  */
.clear:after {
  content: '';
  line-height: 0;
  display: table;
  clear: both; }
/* sr-only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
/*  Notext  */
.notext {
  white-space: nowrap;
  text-indent: 100%;
  text-shadow: none;
  overflow: hidden; }
.notext-old {
  font-size: 0;
  line-height: 0;
  text-indent: -4000px; }
/*  Hidden  */
[hidden],
.hidden {
  display: none; }
/*  Disabled  */
[disabled],
.disabled {
  cursor: default; }
/*  Responsive Helpers  */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }
@media (max-width: 767px), screen and (max-width: 812px) and (orientation: landscape) {
  .hidden-xs {
    display: none !important; }
  .visible-xs-block {
    display: block !important; }
  .visible-xs-inline {
    display: inline !important; }
  .visible-xs-inline-block {
    display: inline-block !important; } }
@media (min-width: 767.02px) and (max-width: 1023px) {
  .hidden-sm {
    display: none !important; }
  .visible-sm-block {
    display: block !important; }
  .visible-sm-inline {
    display: inline !important; }
  .visible-sm-inline-block {
    display: inline-block !important; } }
@media (min-width: 1023.02px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; }
  .visible-md-block {
    display: block !important; }
  .visible-md-inline {
    display: inline !important; }
  .visible-md-inline-block {
    display: inline-block !important; } }
@media (min-width: 1199.02px) {
  .hidden-lg {
    display: none !important; }
  .visible-lg-block {
    display: block !important; }
  .visible-lg-inline {
    display: inline !important; }
  .visible-lg-inline-block {
    display: inline-block !important; } }
/* ------------------------------------------------------------ *\
	Components
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	article
\* ------------------------------------------------------------ */
.article {
  position: relative;
  min-height: 136px;
  text-align: center; }
.article p {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: rgba(255, 255, 255, 0.75); }
.article blockquote {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-bottom: 0;
    padding: 50px 20px 45px;
    width: 100%; }
@media (max-width: 1023px) {
      .article blockquote {
        width: calc(100% + 30px);
        padding: 120px 15px 35px; } }
.article blockquote:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/lines.png);
    background-size: 981px 265px;
    background-position: 50% 0%;
    background-repeat: no-repeat repeat;
    pointer-events: none; }
.article blockquote h3 {
    position: relative;
    font-size: 13px;
    text-align: center;
    font-weight: 700;
    letter-spacing: .15em;
    font-family: "Roboto Mono", monospace; }
@media (max-width: 1023px) {
      .article blockquote h3 {
        padding-bottom: 16px; } }
.article blockquote p {
    position: relative;
    max-width: 690px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 3px rgba(155, 222, 236, 0.34), 0 0 5px rgba(51, 177, 251, 0.2);
    font-family: "Roboto Mono", monospace;
    text-align: left;
    line-height: 1.65;
    font-weight: 700; }
@media (max-width: 1023px) {
      .article blockquote p {
        font-size: 12px; } }
.article blockquote strong {
    position: relative;
    display: inline-block; }
.article blockquote strong:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #7EC8DE;
    -webkit-box-shadow: 0 1px 5px 1px rgba(155, 222, 236, 0.67);
            box-shadow: 0 1px 5px 1px rgba(155, 222, 236, 0.67);
    pointer-events: none;
    -webkit-transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    -o-transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out; }
.article ul {
    margin-bottom: 35px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none; }
@media (max-width: 1023px) {
      .article ul {
        display: block; } }
.article ul h4 {
    font-size: 13px;
    color: #9DDDEE;
    letter-spacing: .13em; }
.article ul strong {
    padding-bottom: 11px;
    display: block;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: .04em; }
@media (max-width: 1023px) {
      .article ul strong {
        font-size: 15px; } }
.article li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }
.article li + li {
    position: relative;
    margin-left: 62px;
    padding-left: 63px; }
@media (max-width: 1023px) {
      .article li + li {
        margin-left: 0;
        margin-top: 19px;
        padding-top: 20px;
        padding-left: 0; } }
.article li + li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 1px;
    max-width: 100%;
    height: 95px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(126, 200, 222, 0)), color-stop(50%, #7ec8de), to(rgba(126, 200, 222, 0)));
    background: -o-linear-gradient(bottom, rgba(126, 200, 222, 0) 0%, #7ec8de 50%, rgba(126, 200, 222, 0) 100%);
    background: linear-gradient(0deg, rgba(126, 200, 222, 0) 0%, #7ec8de 50%, rgba(126, 200, 222, 0) 100%);
    pointer-events: none;
    opacity: .5; }
@media (max-width: 1023px) {
      .article li + li:before {
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        background: -webkit-gradient(linear, left top, right top, from(rgba(126, 200, 222, 0)), color-stop(50%, #7ec8de), to(rgba(126, 200, 222, 0)));
        background: -o-linear-gradient(left, rgba(126, 200, 222, 0) 0%, #7ec8de 50%, rgba(126, 200, 222, 0) 100%);
        background: linear-gradient(90deg, rgba(126, 200, 222, 0) 0%, #7ec8de 50%, rgba(126, 200, 222, 0) 100%);
        width: 95px;
        height: 1px; } }
.article iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-5vw, -5vw) scale(0.7);
        -ms-transform: translate(-5vw, -5vw) scale(0.7);
            transform: translate(-5vw, -5vw) scale(0.7);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: visibility .6s .4s ease-out, opacity .6s .4s ease-out, -webkit-transform .6s .4s ease-out;
    transition: visibility .6s .4s ease-out, opacity .6s .4s ease-out, -webkit-transform .6s .4s ease-out;
    -o-transition: transform .6s .4s ease-out, visibility .6s .4s ease-out, opacity .6s .4s ease-out;
    transition: transform .6s .4s ease-out, visibility .6s .4s ease-out, opacity .6s .4s ease-out;
    transition: transform .6s .4s ease-out, visibility .6s .4s ease-out, opacity .6s .4s ease-out, -webkit-transform .6s .4s ease-out; }
.article .article__access {
    position: relative;
    margin: -30px 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0 10px;
    width: 100%;
    max-width: 705px;
    z-index: 1; }
@media (max-width: 1023px) {
      .article .article__access {
        margin: -10px 0 -88px; } }
.article .article__decoration {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    height: 135px;
    pointer-events: none; }
@media (max-width: 1023px) {
      .article .article__decoration {
        height: 80px;
        width: calc(100% + 30px); } }
.article .article__decoration:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    height: 5px;
    background: -webkit-gradient(linear, left top, right top, from(#00BFE3), to(#376ab8));
    background: -o-linear-gradient(left, #00BFE3 0%, #376ab8 100%);
    background: linear-gradient(90deg, #00BFE3 0%, #376ab8 100%); }
.article .article__decoration:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    height: 5px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.4) 0% 20%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0% 20%, rgba(0, 0, 0, 0) 100%); }
.article .article__decoration--sun:before {
    background: -webkit-gradient(linear, left top, right top, from(#FFC420), to(#D73754));
    background: -o-linear-gradient(left, #FFC420 0%, #D73754 100%);
    background: linear-gradient(90deg, #FFC420 0%, #D73754 100%); }
.article .article__logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 135px;
    height: 135px;
    padding: 12px;
    border-radius: 17px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1; }
@media (max-width: 1023px) {
      .article .article__logo {
        width: 80px;
        height: 80px;
        padding: 6px; } }
@media (max-width: 1023px) {
    .article .article__logo img {
      width: 100%; } }
.article .article__video {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    max-width: 780px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    z-index: 1; }
@media (max-width: 1023px) {
      .article .article__video {
        width: calc(100% + 40px); } }
.article .article__video:before {
    content: '';
    display: block;
    padding-top: 46.983311938382544%; }
.article .article__caption {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    max-width: 780px;
    padding: 20px 24px 30px;
    -webkit-transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    -o-transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    z-index: 2; }
@media (max-width: 1023px) {
      .article .article__caption {
        position: relative;
        padding: 20px 0; } }
.article .article__caption h3 {
    font-weight: 700;
    text-shadow: none;
    font-size: 16px; }
@media (max-width: 1023px) {
      .article .article__caption h3 {
        font-size: 13px; } }
.article .article__caption h4 {
    font-size: 12px;
    letter-spacing: .15em; }
@media (max-width: 1023px) {
      .article .article__caption h4 {
        font-size: 11px; } }
.article .article__poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-transition: visibility .6s .2s ease-out, opacity .6s .2s ease-out, -webkit-transform .6s .2s ease-out;
    transition: visibility .6s .2s ease-out, opacity .6s .2s ease-out, -webkit-transform .6s .2s ease-out;
    -o-transition: transform .6s .2s ease-out, visibility .6s .2s ease-out, opacity .6s .2s ease-out;
    transition: transform .6s .2s ease-out, visibility .6s .2s ease-out, opacity .6s .2s ease-out;
    transition: transform .6s .2s ease-out, visibility .6s .2s ease-out, opacity .6s .2s ease-out, -webkit-transform .6s .2s ease-out; }
.article .article__play {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 98px;
    height: 98px;
    background-image: url(../images/play.png);
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
@media (max-width: 1023px) {
      .article .article__play {
        width: 78px;
        height: 78px; } }
.article .article__play:hover {
    -webkit-transform: translate(-50%, -50%) scale(1.05, 1.05);
        -ms-transform: translate(-50%, -50%) scale(1.05, 1.05);
            transform: translate(-50%, -50%) scale(1.05, 1.05); }
.article .article__head {
    position: relative;
    margin-bottom: -70px;
    min-height: 135px;
    position: relative;
    padding: 0 20px;
    text-align: right;
    z-index: 1; }
@media (max-width: 1023px) {
      .article .article__head {
        margin-bottom: -98px;
        text-align: center; } }
.article .article__head a {
    position: relative;
    margin-top: 82px;
    max-width: calc(50% - 87px);
    display: inline-block;
    text-decoration: none;
    font-size: 11px;
    letter-spacing: .17em;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
@media (max-width: 1023px) {
      .article .article__head a {
        margin-top: 100px;
        max-width: none; } }
.article .article__head a:before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    width: 100%;
    height: 1px;
    background-color: rgba(31, 159, 204, 0.55);
    -webkit-box-shadow: 0 -1px 4px 1px rgba(146, 218, 239, 0.44);
            box-shadow: 0 -1px 4px 1px rgba(146, 218, 239, 0.44);
    pointer-events: none;
    -webkit-transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    -o-transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out; }
.article .article__head a:hover:before {
    -webkit-transform: scaleX(0.8);
        -ms-transform: scaleX(0.8);
            transform: scaleX(0.8);
    opacity: 0; }
.article .article__head + .article__body {
    padding-top: 90px;
    border-top: 0;
    border-bottom: 1px solid rgba(126, 200, 222, 0.26);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(6, 16, 25, 0.38)), to(#061018));
    background: -o-linear-gradient(top, rgba(6, 16, 25, 0.38) 0%, #061018 100%);
    background: linear-gradient(180deg, rgba(6, 16, 25, 0.38) 0%, #061018 100%); }
@media (max-width: 1023px) {
      .article .article__head + .article__body {
        padding-top: 118px; } }
.article .article__head + .article__body:before,
  .article .article__head + .article__body:after {
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(157, 221, 238, 0)), to(rgba(126, 200, 222, 0.26)));
    background: -o-linear-gradient(top, rgba(157, 221, 238, 0) 0%, rgba(126, 200, 222, 0.26) 100%);
    background: linear-gradient(180deg, rgba(157, 221, 238, 0) 0%, rgba(126, 200, 222, 0.26) 100%); }
.article .article__body {
    position: relative;
    padding: 32px 20px 57px;
    border-top: 1px solid rgba(126, 200, 222, 0.26);
    background: -o-linear-gradient(top, rgba(6, 16, 25, 0.38) 0%, rgba(157, 221, 238, 0) 372px);
    background: linear-gradient(180deg, rgba(6, 16, 25, 0.38) 0%, rgba(157, 221, 238, 0) 372px); }
@media (max-width: 1023px) {
      .article .article__body {
        padding: 26px 20px 30px; } }
.article .article__body:before,
  .article .article__body:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 327px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(157, 221, 238, 0)), to(rgba(126, 200, 222, 0.26)));
    background: -o-linear-gradient(bottom, rgba(157, 221, 238, 0) 0%, rgba(126, 200, 222, 0.26) 100%);
    background: linear-gradient(0deg, rgba(157, 221, 238, 0) 0%, rgba(126, 200, 222, 0.26) 100%); }
.article .article__body:after {
    left: auto;
    right: 0; }
.article .article__body--alt {
    padding-bottom: 0; }
@media (max-width: 1023px) {
      .article .article__body--alt {
        padding-bottom: 0; } }
/*  Video playing state  */
.article.has-video-playing iframe {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: translate(0) scale(1);
      -ms-transform: translate(0) scale(1);
          transform: translate(0) scale(1); }
.article.has-video-playing .article__poster {
  -webkit-transform: translate(5vw, 5vw) scale(0.7);
      -ms-transform: translate(5vw, 5vw) scale(0.7);
          transform: translate(5vw, 5vw) scale(0.7); }
.article.has-video-playing .article__caption,
.article.has-video-playing .article__poster,
.article.has-video-playing .article__play {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }
.article.has-video-playing .article__play {
  -webkit-transition: visibility .7s ease-out, opacity .7s ease-out, -webkit-transform .7s ease-out;
  transition: visibility .7s ease-out, opacity .7s ease-out, -webkit-transform .7s ease-out;
  -o-transition: transform .7s ease-out, visibility .7s ease-out, opacity .7s ease-out;
  transition: transform .7s ease-out, visibility .7s ease-out, opacity .7s ease-out;
  transition: transform .7s ease-out, visibility .7s ease-out, opacity .7s ease-out, -webkit-transform .7s ease-out; }
@media (max-width: 1023px) {
  .article.has-video-playing .article__caption {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; } }
/*  article--alt  */
.article--alt {
  padding-bottom: 37px; }
@media (max-width: 1023px) {
    .article--alt {
      padding-bottom: 20px; } }
.article--alt h2 {
    font-size: 18px;
    font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: .15em;
    color: #9DDDEE;
    text-shadow: 0 0 4px rgba(155, 222, 236, 0.42), 0 1px 10px rgba(51, 177, 251, 0.25); }
.article--alt h4 {
    font-size: 13px;
    color: #9DDDEE;
    letter-spacing: .13em; }
@media (max-width: 1023px) {
      .article--alt h4 {
        font-size: 12px; } }
.article--alt ul {
    margin-bottom: 0;
    padding-top: 18px;
    display: block; }
.article--alt ul h2 {
    margin-bottom: 6px;
    font-size: 21px;
    color: #fff;
    text-transform: none;
    letter-spacing: .04em; }
@media (max-width: 1023px) {
      .article--alt ul h2 {
        font-size: 18px; } }
.article--alt ul h5 {
    letter-spacing: .3em; }
.article--alt ul p {
    font-size: 13px;
    font-weight: 700;
    color: #9DDDEE;
    text-shadow: 0 0 4px rgba(155, 222, 236, 0.42), 0 1px 10px rgba(51, 177, 251, 0.25); }
.article--alt ul strong {
    padding-bottom: 16px;
    display: block;
    font-size: 15px;
    font-weight: 700;
    text-shadow: 0 0 4px rgba(155, 222, 236, 0.42), 0 1px 10px rgba(51, 177, 251, 0.25); }
.article--alt ul a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
.article--alt ul a:before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    width: 100%;
    height: 1px;
    background-color: rgba(157, 221, 238, 0.7);
    -webkit-box-shadow: 0 1px 5px 0px rgba(155, 222, 236, 0.67), 0 1px 5px 0px rgba(51, 177, 251, 0.64);
            box-shadow: 0 1px 5px 0px rgba(155, 222, 236, 0.67), 0 1px 5px 0px rgba(51, 177, 251, 0.64);
    pointer-events: none;
    -webkit-transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    -o-transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out; }
.article--alt ul a:hover:before {
    -webkit-transform: scaleX(0.8);
        -ms-transform: scaleX(0.8);
            transform: scaleX(0.8);
    opacity: 0; }
.article--alt li + li {
    margin: 25px 0 0;
    padding: 26px 0 27px; }
.article--alt li + li:before,
  .article--alt li + li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: calc(100% - 10px);
    max-width: calc(100% - 10px);
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(126, 200, 222, 0)), color-stop(50%, #7ec8de), to(rgba(126, 200, 222, 0)));
    background: -o-linear-gradient(left, rgba(126, 200, 222, 0) 0%, #7ec8de 50%, rgba(126, 200, 222, 0) 100%);
    background: linear-gradient(90deg, rgba(126, 200, 222, 0) 0%, #7ec8de 50%, rgba(126, 200, 222, 0) 100%);
    opacity: .5; }
.article--alt li + li:after {
    top: auto;
    bottom: 0; }
.article--alt blockquote {
    padding: 40px 20px 35px; }
@media (max-width: 1023px) {
      .article--alt blockquote {
        padding: 40px 15px 35px; } }
.article--alt blockquote:before {
    -webkit-box-shadow: 0 20px 20px rgba(5, 12, 19, 0.5) inset, 0 -20px 20px rgba(5, 12, 19, 0.5) inset;
            box-shadow: 0 20px 20px rgba(5, 12, 19, 0.5) inset, 0 -20px 20px rgba(5, 12, 19, 0.5) inset; }
.article--alt .article__back {
    position: absolute;
    top: 15px;
    left: 20px;
    padding-left: 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    color: #9DDDEE;
    text-shadow: 0 0 4px rgba(155, 222, 236, 0.42), 0 1px 10px rgba(51, 177, 251, 0.25);
    text-decoration: none;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
.article--alt .article__back:before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 20px;
    height: 100%;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    background-image: url(../images/arrow.png);
    background-size: 130% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    -o-transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    pointer-events: none; }
.article--alt .article__back:hover:before {
    -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
            transform: translateX(-5px); }
.article--alt .article__form {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0 10px;
    width: calc(100% + 40px);
    max-width: 880px; }
@media (max-width: 1023px) {
    .article--alt .article__body {
      padding-top: 50px; } }
/*  article--form  */
.article--form li + li {
  margin: 30px 0 0;
  padding: 26px 0 0; }
.article--form li + li:after {
  content: 'OR';
  top: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: auto;
  width: 32px;
  height: 16px;
  background: none;
  background-color: #050c13;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  color: #9DDDEE;
  text-shadow: 0 0 4px rgba(155, 222, 236, 0.42), 0 1px 10px rgba(51, 177, 251, 0.25);
  opacity: 1; }
/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */
.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-width: 200px;
  color: #00021C;
  font-weight: 700;
  font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  padding: 19px 24px 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-shadow: 0 0 0 1px #E4EEF0 inset;
          box-shadow: 0 0 0 1px #E4EEF0 inset;
  -webkit-transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  -o-transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
  transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
  transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  z-index: 1; }
@media (max-width: 1023px) {
    .btn {
      padding: 12px 24px 13px;
      min-width: 0;
      font-size: 14px; } }
.btn:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 7px;
    right: 7px;
    bottom: 7px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px #0D9CBC;
            box-shadow: 0 0 20px #0D9CBC;
    -webkit-transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    -o-transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    z-index: -1; }
.btn:hover:after {
    -webkit-box-shadow: 0 0 0 1px #fff inset;
            box-shadow: 0 0 0 1px #fff inset; }
.btn:hover:after {
    -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 4px #fff, 0 0 0 6px #fff, 0 0 20px 7px #0D9CBC;
            box-shadow: 0 0 0 2px #fff, 0 0 0 4px #fff, 0 0 0 6px #fff, 0 0 20px 7px #0D9CBC; }
/*  btn--alt  */
.btn--alt {
  padding: 22px 24px 22px;
  font-size: 14px;
  letter-spacing: 0.2em; }
@media (max-width: 1023px) {
    .btn--alt {
      padding: 12px 24px 13px; } }
/* ------------------------------------------------------------ *\
	Fields
\* ------------------------------------------------------------ */
.field {
  padding: 20px 25px 21px;
  border: none;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px 2px rgba(13, 156, 188, 0) inset, 0 0 0 1px #E4EEF0 inset;
          box-shadow: 0 0 2px 2px rgba(13, 156, 188, 0) inset, 0 0 0 1px #E4EEF0 inset;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .15em;
  color: #00021C;
  -webkit-transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  -o-transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
  transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
  transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out; }
@media (max-width: 1023px) {
    .field {
      padding: 12px 16px 13px; } }
.field::-webkit-input-placeholder {
    opacity: .5; }
.field::-moz-placeholder {
    opacity: .5; }
.field:-ms-input-placeholder {
    opacity: .5; }
.field::-ms-input-placeholder {
    opacity: .5; }
.field::placeholder {
    opacity: .5; }
.field:focus {
    -webkit-box-shadow: 0 0 3px 2px #0d9cbc inset, 0 0 0 1px #E4EEF0 inset;
            box-shadow: 0 0 3px 2px #0d9cbc inset, 0 0 0 1px #E4EEF0 inset; }
/*  field--alt  */
.field--alt {
  color: #fff;
  background-color: transparent;
  -webkit-box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0) inset, 0 0 0 1px #3F4F54 inset;
          box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0) inset, 0 0 0 1px #3F4F54 inset; }
.field--alt:focus {
    -webkit-box-shadow: 0 0 3px 2px white inset, 0 0 0 1px #fff inset;
            box-shadow: 0 0 3px 2px white inset, 0 0 0 1px #fff inset; }
/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */
.footer {
  position: relative;
  padding-top: 36px;
  padding-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  z-index: 10; }
@media (max-width: 1023px) {
    .footer {
      padding-top: 28px; } }
.footer p {
    margin-bottom: 0;
    line-height: 1;
    letter-spacing: 0.135em;
    color: #9DDDEE;
    font-weight: 700;
    font-size: 11px;
    text-shadow: 0 0 4px rgba(155, 222, 236, 0.42), 0 1px 10px rgba(51, 177, 251, 0.25);
    letter-spacing: 0.115em;
    font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.footer a {
    position: relative;
    display: inline-block;
    text-decoration: none; }
@media (max-width: 1023px) {
      .footer a {
        margin-top: 6px; } }
.footer a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(126, 200, 222, 0)), color-stop(50%, #7ec8de), to(rgba(126, 200, 222, 0)));
    background: -o-linear-gradient(left, rgba(126, 200, 222, 0) 0%, #7ec8de 50%, rgba(126, 200, 222, 0) 100%);
    background: linear-gradient(90deg, rgba(126, 200, 222, 0) 0%, #7ec8de 50%, rgba(126, 200, 222, 0) 100%);
    pointer-events: none;
    -webkit-transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    transition: border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    -o-transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out, border-radius 0.3s ease-out, max-height 0.3s ease-out, max-width 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    opacity: .55; }
.footer a:hover:before {
    opacity: 0; }
@media (max-width: 1023px) {
    .footer span {
      display: none; } }
.footer br {
    display: none; }
@media (max-width: 1023px) {
      .footer br {
        display: block; } }
/* ------------------------------------------------------------ *\
	form
\* ------------------------------------------------------------ */
.form {
  width: 100%;
  max-width: none; }
.form .form__countdown {
    padding: 22px 24px 22px;
    min-width: 200px;
    -webkit-box-shadow: 0 0 0 1px #E4EEF0 inset;
            box-shadow: 0 0 0 1px #E4EEF0 inset;
    background-color: #050c13;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center; }
@media (max-width: 1023px) {
      .form .form__countdown {
        margin-top: 10px;
        padding: 12px 24px 13px; } }
@media (max-width: 1023px) {
    .form .form__btn {
      margin-top: 10px; } }
.form .form__btn--alt {
    margin-top: 17px; }
@media (max-width: 1023px) {
      .form .form__btn--alt {
        margin-top: 10px; } }
.form .form__label {
    margin-bottom: 3px;
    display: block;
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4; }
.form .form__field {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
.form .form__field--pass {
    padding-right: 64px; }
.form .form__toggle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 64px;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    color: #9DDDEE;
    text-shadow: 0 0 4px rgba(155, 222, 236, 0.42), 0 1px 10px rgba(51, 177, 251, 0.25);
    opacity: .5; }
@media (max-width: 1023px) {
      .form .form__toggle {
        height: 44px; } }
.form .form__toggle:hover {
    opacity: 1; }
.form .form__controls {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    width: 50%;
    max-width: 50%; }
@media (max-width: 1023px) {
      .form .form__controls {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
        width: 100%;
        max-width: 100%; } }
.form .form__controls--pass {
    position: relative; }
.form .form__controls + .form__controls {
    margin-left: 32px; }
@media (max-width: 1023px) {
      .form .form__controls + .form__controls {
        margin-top: 15px;
        margin-left: 0; } }
.form .form__controls--alt + .form__controls--alt {
    margin-top: 0;
    margin-left: 0; }
.form .form__controls--size-1 {
    max-width: 82px; }
.form .form__controls--size-2 {
    max-width: 112px; }
.form .form__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
@media (max-width: 1023px) {
      .form .form__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
.form .form__row {
    padding-bottom: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
@media (max-width: 1023px) {
      .form .form__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
@media (max-width: 1023px) {
    .form .form__row--alt {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
.form .form__inner {
    padding-top: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 585px; }
@media (max-width: 1023px) {
      .form .form__inner {
        margin-bottom: -5px; } }
/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	hero
\* ------------------------------------------------------------ */
.hero {
  padding-top: 65px;
  text-align: center; }
.hero h1,
  .hero h2 {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 35px; }
.hero h1:before,
  .hero h2:before {
    content: '';
    position: absolute;
    bottom: 14px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 186px;
    max-width: 100%;
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(126, 200, 222, 0)), color-stop(50%, #7ec8de), to(rgba(126, 200, 222, 0)));
    background: -o-linear-gradient(left, rgba(126, 200, 222, 0) 0%, #7ec8de 50%, rgba(126, 200, 222, 0) 100%);
    background: linear-gradient(90deg, rgba(126, 200, 222, 0) 0%, #7ec8de 50%, rgba(126, 200, 222, 0) 100%);
    pointer-events: none;
    opacity: .5; }
.hero .hero__logo {
    display: inline-block;
    margin-bottom: 34px; }
@media (max-width: 1023px) {
      .hero .hero__logo {
        margin-bottom: 25px;
        max-width: 160px; } }
/*  hero--alt  */
.hero--alt {
  padding-bottom: 18px; }
.hero--alt h1,
  .hero--alt h2 {
    padding-bottom: 0; }
.hero--alt h1:before,
  .hero--alt h2:before {
    display: none; }
.hero--alt h4,
  .hero--alt p {
    display: none; }
.hero--alt .hero__article .hero__body {
    padding-bottom: 47px; }
@media (max-width: 1023px) {
      .hero--alt .hero__article .hero__body {
        padding-bottom: 20px; } }
/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */
.main {
  position: relative;
  padding-top: 40px; }
/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *\
	Select
\* ------------------------------------------------------------ */
.select {
  position: relative;
  color: #9DDDEE;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0 0 4px rgba(155, 222, 236, 0.42), 0 1px 10px rgba(51, 177, 251, 0.25);
  -webkit-box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0) inset, 0 0 0 1px #3F4F54 inset;
          box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0) inset, 0 0 0 1px #3F4F54 inset; }
@media (max-width: 1023px) {
    .select {
      font-size: 14px; } }
.select:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2px;
    width: 30px;
    background-image: url(../images/arrow-down.png);
    background-size: 120% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    pointer-events: none; }
.select select {
    padding: 18px 30px 18px 16px;
    width: 100%;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
@media (max-width: 1023px) {
      .select select {
        padding: 12px 30px 13px 16px; } }
.select select::-ms-expand,
  .select select::-ms-clear {
    display: none; }
/* ------------------------------------------------------------ *\
  Shell
\* ------------------------------------------------------------ */
.shell {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: calc( 982px + 15px * 2); }
/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */
.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-image: url(../images/bg-island.png);
  background-size: 100% auto;
  background-position: 50% 0%;
  background-repeat: no-repeat; }
/* ------------------------------------------------------------ *\
	Overwrites
\* ------------------------------------------------------------ */
